.contacts {
  width: 50%;
}

.contacts__wrapper {
  max-width: 683px;
  padding: 68px 93px 62px 120px;
}

.contacts h2 {
  margin: 0;
  margin-bottom: 40px;

  @include desktop-title;
}

.contacts__content {
  display: flex;
  flex-wrap: wrap;
}

.contacts__list {
  width: 50%;
  margin: 0;
  padding: 0;

  list-style: none;
  box-sizing: border-box;

  &--left {
    padding-right: 50px;
    padding-left: 5px;

    border-right: 1px solid #74819c;
  }

  &--right {
    padding-left: 60px;
  }
}

.contacts__item {
  margin-bottom: 17px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts h3 {
  margin: 0;
  margin-bottom: 5px;

  font-size: 16px;
  line-height: 24px;
}

.contacts p {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
}

.contacts__link {
  display: block;

  font-size: 14px;
  line-height: 21px;
  color: inherit;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

@media (max-width: $tablet-width) {
  .contacts {
    width: 100%;
  }

  .contacts__wrapper {
    max-width: 100%;
    padding: 69px 102px 62px 133px;
  }

  .contacts h2 {
    margin-bottom: 35px;

    @include tablet-title;
  }

  .contacts__list {
    &--left {
      padding-right: 40px;
      padding-left: 0;

      border-right: 1px solid #74819c;
    }

    &--right {
      padding-left: 48px;
    }
  }

  .contacts__item {
    margin-bottom: 20px;
  }

  .contacts h3 {
    font-size: 20px;
    line-height: 30px;
  }

  .contacts p {
    font-size: 18px;
    line-height: 27px;
  }

  .contacts__link {
    font-size: 18px;
    line-height: 27px;
  }
}

@media (max-width: $mobile-width) {
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contacts__wrapper {
    width: 290px;
    padding: 70px 15px 65px 15px;
  }

  .contacts h2 {
    @include mobile-title;
  }

  .contacts__content {
    flex-direction: column;
  }

  .contacts__list {
    width: 100%;
    margin-bottom: 21px;
    padding: 0;

    &--left {
      border-right: none;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
