.free-lesson {
  width: 50%;
  background-color: #102654;
}

.free-lesson__wrapper {
  max-width: 683px;
  margin-left: auto;
  padding: 60px 170px 70px 103px;

  box-sizing: border-box;
}

.free-lesson h2 {
  margin: 0;
  margin-bottom: 29px;

  font-family: $bebas-neue-font;
  font-size: 49px;
  line-height: 64px;
  letter-spacing: 0.03em;
  text-transform: lowercase;

  color: #ffffff;
}

.free-lesson__form form {
  display: flex;
  flex-wrap: wrap;
}

.free-lesson__form label {
  width: calc((100% - 30px) / 2);
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(2n) {
    margin-right: 0;
  }
}

.free-lesson__form input {
  width: 100%;
  padding: 7px 0;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #74819c;
  box-sizing: border-box;

  &::placeholder {
    color: #ffffff;
  }

  &:hover {
    border-color: #ffffff;
  }

  &:focus {
    border-color: #ffffff;
    &::placeholder {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.free-lesson__form button {
  width: 100%;
  padding: 15px;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  align-items: center;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;

  border: 3px solid #ffffff;
  background-color: transparent;
  box-sizing: border-box;

  &:hover,
  &:focus {
    color: #102654;

    background-color: #ffffff;
  }

  cursor: pointer;
}

@media (max-width: $tablet-width) {
  .free-lesson {
    width: 100%;
  }

  .free-lesson__wrapper {
    max-width: 100%;
    margin-left: 0;
    padding: 69px 163px 70px 133px;
  }

  .free-lesson h2 {
    font-size: 42px;
    line-height: 42px;
  }

  .free-lesson__form label {
    width: calc((100% - 60px) / 2);
    margin-right: 60px;
  }
}

@media (max-width: $mobile-width) {
  .free-lesson__wrapper {
    padding: 70px 15px;
  }

  .free-lesson h2 {
    font-size: 32px;
    line-height: 32px;
  }

  .free-lesson__form label {
    width: 100%;
    margin-right: 0;
  }

  .free-lesson__form button {
    margin-top: 10px;
  }
}
