.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
}

.page-header__phone {
  display: flex;
  flex-direction: column;
  margin-top: -2px;
}

.page-header__phone-link {
  font-family: $bebas-neue-font;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #ffffff;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

@media (max-width: $tablet-width) {
  .page-header {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .page-header__phone {
    font-size: 24px;
    line-height: 24px;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .page-header__phone {
    font-size: 20px;
    line-height: 20px;
  }
}
