.slider .slick-track {
  display: flex;
}

.slider__toggles {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: -18px;
}

.slider__toggle {
  width: 30px;
  height: 40px;

  background-color: transparent;
  border: none;
  outline: none;

  cursor: pointer;

  &:hover {
    .slider__icon {
      color: #102654;

      opacity: 0.8;
    }
  }
}

.slider__icon {
  color: #afafaf;

  &--right {
    transform: rotate(180deg);
  }
}

@media (max-width: $mobile-width) {
  .slider__toggles {
    margin-top: -10px;
  }

  .slider__toggle {
    width: 18px;
    height: 30px;
  }

  .slider__icon {
    width: 10px;
    height: 19px;
  }
}
