.slider {
  position: relative;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 60px;

  box-sizing: border-box;
}

.slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__item {
  position: relative;

  &:hover {
    h3 {
      bottom: 216px;
    }

    .slider__description {
      display: block;
    }
  }
}

.slider__item img {
  display: block;
  width: 260px;
  height: 294px;
}

.slider__toggles {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: -18px;
}

.slider__toggle {
  width: 30px;
  height: 40px;

  background-color: transparent;
  border: none;
  outline: none;

  cursor: pointer;

  &:hover {
    .slider__icon {
      color: #102654;

      opacity: 0.8;
    }
  }
}

.slider__icon {
  color: #afafaf;

  &--right {
    transform: rotate(180deg);
  }
}

.slider h3 {
  position: absolute;
  bottom: 24px;
  left: 0;
  z-index: 2;

  width: 100%;
  margin: 0;

  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;

  text-align: center;
}

.slider__description {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: none;
  width: 100%;
  height: 100%;
  padding: 74px 46px 58px 55px;

  background-color: rgba(16, 38, 84, 0.89);
  box-sizing: border-box;
}

.slider__specialization {
  display: inline-block;
  margin-left: 49px;
  margin-bottom: 34px;

  font-size: 16px;
  line-height: 24px;
  color: #b6bdcc;
}

.slider__achievements {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-left: 16px;

  list-style: none;
}

.slider__achievement {
  position: relative;
  margin-bottom: 13px;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;

  &::before {
    content: "";

    position: absolute;
    top: 6px;
    left: -16px;

    width: 6px;
    height: 6px;

    background-color: #ffffff;
    border-radius: 50%;
  }
}

@media (max-width: $tablet-width) {
  .slider {
    width: 688px;
    padding: 0 62px;
  }

  .slider__item img {
    width: 268px;
    height: 294px;
  }
}

@media (max-width: $mobile-width) {
  .slider {
    width: 290px;
    padding: 0 32px;
  }

  .slider__item img {
    width: 226px;
    height: 274px;
  }

  .slider__toggles {
    margin-top: -10px;
  }

  .slider__toggle {
    width: 18px;
    height: 30px;
  }

  .slider__icon {
    width: 10px;
    height: 19px;
  }
}
