@mixin desktop-title {
  font-family: $bebas-neue-font;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
}

@mixin tablet-title {
  font-family: $bebas-neue-font;
  font-size: 42px;
  line-height: 42px;
  letter-spacing: 0.03em;
}

@mixin mobile-title {
  font-family: $bebas-neue-font;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0.03em;
}
